{:deps
 {org.clojure/clojure {:mvn/version "1.10.1"}
  org.clojure/core.async {:mvn/version "1.3.610"}}

 :aliases
 {:run
  {:main-opts ["-m" "main"]}

  :test
  {:extra-deps {lambdaisland/kaocha {:mvn/version "1.0.672"}}
   :main-opts ["-m" "kaocha.runner"]}

  :lint/kondo
  {:extra-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
   :main-opts  ["-m" "clj-kondo.main" "--lint" "src" "test"]}

  :lint/idiom
  {:extra-deps {tvaughan/kibit-runner {:mvn/version "1.0.1"}}
   :main-opts    ["-m" "kibit-runner.cmdline"]}

  :repl
  {:extra-deps
   {org.clojure/clojure {:mvn/version "1.10.1"}
    cider/cider-nrepl {:mvn/version "0.25.3"}}
   :main-opts
   ["-m" "nrepl.cmdline"
    "--middleware" "[cider.nrepl/cider-middleware]"
    "--interactive"]}}}
